
{{ form_start(vidForm) }}
    {{ form_row(vidForm.link) }}
    {{ form_row(vidForm.id,{"value" : videoId}) }}
    <button type="submit" class="btn btn-success " >Envoyer</button>
{{ form_end(vidForm) }}