{% extends 'base.html.twig' %}

{% block title %}
Confirmation d'envoi
{% endblock %}

{% block body %}
    <div class="alert alert-success container mt-5 text-center">
        <p>Vous allez recevoir un mail afin de pouvoir réinitialiser votre mot de passe</p>
    </div>
{% endblock %}

