body {
    background-color: #222222;
    font-size: 22px;
    color: white;
}

/*todo: responsive text*/
h1{
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    font-weight: 700;
}
h2{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #5eb5e0;
    font-weight: 700;
}

.card{
    color: black;
}

.del_button {
    color: white;
}

.del_button:hover {
    color: white;
    text-decoration: none;
}

.erreur_logo {
    background: orangered;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 700;
}

/*****nav******/

.nav-link,.navbar-brand{
    font-size: 25px;
    font-weight: 700;
}

.nav-link:hover{
    background: rgb(94, 181, 224);
}

nav .navbar-nav li a{
    color: white ;
}

.logout {
    color: red !important;
}

/*******home********/
.jumbotron {
    background-size: cover;
    background-image: url("../images/home.jpg");
    background-color: #222222;
    height: 100vh;
    background-position: center;
    text-shadow: 2px 2px 10px black;
    color: white;
    text-align: right;
    position: relative;

}

#jumbo-container{
    justify-content: center;
    text-align: center;

}
/*todo: responsive text*/
.home-lead{
    color: white;
    font-size: 200%;
    margin-top: 10vh;
    font-weight: 700;
}

#arrow-down{
    color: black;

    font-size: 80px;
    text-align: right;
    margin-right: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#arrow-up{
    color: white;
    font-size: 80px;
    text-align: right;
    margin-right: 20px;
    position: absolute;
    right: 0;
}

#logo-snowboard {
    font-size: 50px;
}

#logo-snowboard:hover {
    color: rgb(94, 181, 224);
}

/*****show*****/
.description-list{
    list-style: none;
}

.description-list li{
    margin-left: 15px;
    padding-right: 15px;

}

@media all and (min-width: 576px) {
    .description-list li{
        border-right: 1px solid black;
    }
}

/***newTrick***/
.custom-file-label::after {
    content: "Charger";
}

/******login****/
.login-link{
    color: white ;
    text-decoration: none;
}

.login-link:hover{
    color: white ;
    text-decoration: none;
}



