{% extends 'base.html.twig' %}

{% block title %}SnowTricks-Accueil{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid background-black">
        <div class="container " id="jumbo-container">

            <h1>SnowTricks</h1>
            <p class="home-lead">L'art de glisser sur le ciel.</p>
        </div>
    </div>

    <p class="home-lead">L'art de glisser sur le ciel.</p>
{% endblock %}
